VITE_FIREBASE_API_KEY=AIzaSyBG02A_z-cHkEOKCXqxnXHqOao0oXzAiJY
VITE_FIREBASE_AUTH_DOMAIN=languagelab-411df.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=languagelab-411df
VITE_FIREBASE_STORAGE_BUCKET=languagelab-411df.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=747245981807
VITE_FIREBASE_APP_ID=1:747245981807:web:1e58e8c729f9c05571bd9a
VITE_FIREBASE_MEASUREMENT_ID=G-WFKJSK0P0K

CLOUDINARY_CLOUD_NAME=djaieji0g
CLOUDINARY_API_KEY=625284495946884
CLOUDINARY_API_SECRET=Z3cIz5CO9OaGW3AQY9hCqjsBhf8

GROQ_API_KEY=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
